version: '3.8'
services:
    db:
        image: postgres:15
        restart: unless-stopped
        environment:
            POSTGRES_USER: authuser
            POSTGRES_PASSWORD: authpass
            POSTGRES_DB: authdb
        volumes:
            - db-data-staging:/var/lib/postgresql/data
        ports:
            - '5432:5432'

    redis:
        image: redis:7
        restart: unless-stopped
        ports:
            - '6379:6379'

    app:
        build: .
        restart: unless-stopped
        env_file:
            - .env.staging
        depends_on:
            - db
            - redis
        ports:
            - '3000:3000'
        volumes:
            - ./:/app:cached
        command: pnpm start

volumes:
    db-data-staging:
